/* These rules only apply to table.table */

/* General formatting */
table.table {
  --border: 2px solid #000;
  border-collapse: separate; 
  border:none;
  border-spacing: 0;
}
table.table th, 
table.table td {
  padding: .5em;
  border: solid 0px #d2d2d2;
  border-bottom-width: 1px;
}

/* Horizontal line between head, body and footer */ 
table.table > thead th {
    border-bottom: var(--border);
}
table.table > tfoot td {
  border-top: var(--border);
}

/* Vertical line after first column */
table.table td:first-child, 
table.table th:first-child {
    border-right: var(--border);
}

/* Headers */
table.table th{
  text-align: start;
}

/* Display arrow on sorted headers */
table.table th.sortable::after {
  /* Make space for an arrow after the header, but don't show it unless sorting on that column. 
     This prevents the column width from changing when sorting on a column. */
  content: '↓'; 
  visibility: hidden;
  color: #999;
  font-weight: lighter;
  padding-left: .3em;
}
table.table th.sortable.sorted::after{
  visibility: visible;
}
table.table th.sortable.sorted-reverse::after {
  content: '↑';
}

/* Different cursor on sortable headers */
table.table th.sortable {
  cursor: s-resize;
}
table.table th.sortable.sorted:not(.sorted-reverse) {
  cursor: n-resize;
}

/* Alternating light/dark background on alternating lines, darker line on hover */
table.table {
  --bg-odd: #e9e7e7;
  --bg-even: #fff;
  --bg-hover: #eee;
}
table.table tbody tr > * {
  background-color: var(--bg-even);
}
table.table tbody tr:nth-of-type(2n+1):not(:hover) > * {
  background-color: var(--bg-odd);
}
table.table tr:hover th, table.table tr:hover td {
  background-color: var(--bg-hover);
}


/* Stickyness, enable with class sticky */
/* Sticky header */
table.sticky > thead th{

  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

/* Sticky first col */
table.sticky > tbody td {
  position: relative;
}
table.sticky > tbody td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

/* sticky header and footer first col */
table.sticky > thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 3;
}
table.sticky > tfoot td:first-child {
  position: sticky;
  left: 0;
  z-index: 3;
}

/* Sticky footer */
table.sticky > tfoot td{
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: white;
}